{% extends "plantilla.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="card card-info mx-4 my-4">
        <div class="card-header" style="background-color: #1e3947;">
            <h1 class="card-title">EDITAR PRODUCTO</h1>
        </div>

        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-end">
                    <a href="{% url 'productos:listarproductos' %}" class="btn btn-secondary">Cancelar</a>
                    &nbsp;
                    <button type="submit" class="btn btn-primary" style="background-color: rgb(18, 179, 58); border-color: rgb(18, 179, 58);">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}