{% extends "plantilla.html" %}
{% block content %}
<div class="container">
    <a href="{% url 'ventas:listarventas' %}" class="btn text-white p-2 mb-4 mt-2 rounded" style="background-color: #1e3947;">
        Atrás
    </a>
    <div class="card card-info mx-4 my-4">
        
        <div class="card-header" style="background-color: #1e3947;">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="card-title mb-0">OPERACION N° {{detalle.nrodoc}}</h1>
                <p class="mb-0"><strong>Cliente:</strong> {{ detalle.cliente_id.nombres }} {{ detalle.cliente_id.apellidos }}</p>
                <p class="mb-0"><strong>Fecha de Venta:</strong> {{ detalle.fecha_venta }}</p>
            </div>
        </div>
        <div class="card-body">
            <div>
                <p><strong>Productos: </strong></p>
            </div>
            <div class="table-responsive">
                <table id="tablasubfamilias" class="table table-hover" style="width:100%">
                    <thead style="background-color: #f4f4f4;">
                        <tr>
                            <th style="color: #1e3947;">CÓDIGO</th>
                            <th style="color: #1e3947;">DESCRIPCIÓN</th>
                            <th style="color: #1e3947;">UNIDAD</th>
                            <th style="color: #1e3947;">CATEGORÍA</th>
                            <th style="color: #1e3947;">CANTIDAD</th>
                            <th style="color: #1e3947;">PRECIO</th>
                            <th style="color: #1e3947;">IMPORTE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalle in detalle.detalles.all %}
                        <tr>
                            <td>{{ detalle.producto_id.id }}</td>
                            <td>{{ detalle.producto_id.descripcion }}</td>
                            <td>{{ detalle.producto_id.unidad.descripcion }}</td>
                            <td>{{ detalle.producto_id.categoria.descripcion }}</td>
                            <td>{{ detalle.cantidad }}</td>
                            <td>{{ detalle.precio }}</td>
                            <td>{{ detalle.importe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                {% if detalle.tipo_id_id == 1 %}<p class="mt-3"><strong>SubTotal: </strong>S/. {{ detalle.subtotal }}, <strong> IGV: </strong>S/. {{ detalle.igv }}, {%endif%}<strong>Total: </strong>S/. {{ detalle.total }}</p>
                <a href="{% url 'ventas:generarpdf' detalle.venta_id %}" class="btn btn-success block">GENERAR PDF</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}